<!DOCTYPE html>
<html lang="en">
{% extends "./navigation_bar.html" %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Domains</title>
    <link rel="stylesheet" type="text/css" href="{% static 'openjuice/css/style.css' %}">
</head>
<body>


<div class="container">
    {% if domain_list %}
    <h2>Domains</h2>
    <ul>
        {% for domain in domain_list %}
        <li><a href="{% url 'openjuice:domain' domain.code %}">{{ domain.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No domains are available.</p>
    {% endif %}
</div>
{% endblock %}

</body>
</html>
