<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Topics</title>
</head>
<body>
{% extends "./navigation_bar.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'openjuice/style.css' %}">
{% if topic_list %}
    <ul>
    {% for topic in topic_list %}
        <li><a href="{% url 'openjuice:topic' topic.code %}">{{ topic.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No topics are available.</p>
{% endif %}

{% endblock %}
</body>
</html>